
body {
    background-color: rgb(50, 28, 28);
    text-align: center;
    margin-top: 5vh;
}

h1 {
    color: aquamarine;
}

.container {
    text-align: center;
}

label {
    color: #e2d1d1;
}

.output {
    margin-top: 20px;
    border: 1px solid #e2d1d1;
    padding: 10px;
    text-align: left;
    background-color: #e2d1d1;
}

#buscarForm {
    margin-top: 3vh;
}

#btnMostrarTodos {
    margin-top: 3vh;
}

p, h3 {
    color: #e2d1d1;
}